* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.hidden-class {
    visibility: hidden;
}
.main-page-div{
    /*width: 100%;
    height: 100%;*/
}
.back-video {
    object-fit: cover;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    height: 100%;

}
.header-main-div {
    max-height: 200px;
    width: 100%;
    display: table;
    /*position: fixed;*/

}

.right-subheader-div {
    display: table-cell;
    vertical-align: middle;
    /*padding-left: 400px;*/
}
A {
    text-decoration: none;
    color: white;
    font-size: 25px;
    /*padding-left: 50px;*/
    opacity: 0.85;
    cursor: pointer;
}
A:hover {
    text-decoration: none; /* Добавляем подчеркивание при наведении курсора на ссылку */
    opacity: 1;
    color: white;
}
.links-menu {
    /*overflow: hidden;*/
    /*padding-top: 6rem;*/
    padding-right: 1rem;
}
.central-main-div {
    width: 100%;
    /*overflow: hidden;*/
}
.top-message-div h1 {
    width: 100%;
    /*overflow: hidden;*/
    color: white;
    text-align: center;
    font-size: 2rem;
}
.top-message-div p {
    color: white;
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
}
.bottom-search-div {
    padding-top: 50px;
    width: 100%;
    /*overflow: hidden;*/
}
.search-form {
    text-align: center;
}
input {
    border: none;
    height: 50px;
    border-radius: 5px;
    padding-left: 25px;
    font-size: 18px;
    color: #605f5f;
}
input:hover, input:focus, input:active {
    outline: none;
}
button {
    height: 50px;
    background-color: #9f9c9c;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 6rem;
    cursor: pointer;
}
button:hover {
    background: rgba(0,0,0,0);
    color: white;
    box-shadow: inset 0 0 0 0 #3a7999;
    transition-duration: .3s;
}
.active-btn {
    background: rgba(0,0,0,0);
    transition-duration: .8s;
    letter-spacing: 5px;
    color: #6008ff;
}
.active-btn:hover {
    background: rgba(0,0,0,0);
    transition-duration: .8s;
    letter-spacing: 5px;
    color: #6008ff;
}
/* MODAL APOD */

.modal-APOD-main {
    justify-content: center;
    position: absolute;
    /*margin: auto;*/
    z-index: 1050;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}
.img-div-APOD  {
    width: 100%;
    text-align: center;
}
.img-div-APOD img {
    display: inline-block;
    max-height: 700px;
    max-width: 95%;
}
.title-div-APOD {
    width: 100%;
    text-align: center;
    top: 0;
}
.date-div-APOD {
    width: 100%;
    text-align: center;
}
.date-div-APOD p {
    display: inline-block;
}
.text-div-APOD h1 {
    display: inline-block;
}
.content-div-APOD {
    color: white;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
}
.text-div-APOD {
    padding-top: 20px;
}
#close-id {
    position: absolute;
    top: 0;
    right: 0;
}
/* ITEMS */
.search-result {
    width: 100%;
    /*display: flex;
    flex-wrap: wrap;*/
    display: grid;

}
@media all and (min-width: 1550px){
    .search-result {
        grid-template-columns: auto auto auto auto auto;
    }
    .one-item-main {
        width: 300px;
    }
}


@media all and (max-width: 1550px){
    .search-result {
        grid-template-columns: auto auto auto auto;
    }
    .one-item-main {
        width: 300px;
    }
    .pic-one-item{
        width: 300px;
    }
}

@media all and (max-width: 1250px){
    .search-result {
        grid-template-columns: auto auto auto;
    }
    .one-item-main {
        width: 300px;
    }
    .pic-one-item{
        width: 300px;
    }
}

@media all and (max-width: 950px){
    .search-result {
        grid-template-columns: auto auto;
    }
    .one-item-main {
        width: 300px;
    }
    .pic-one-item{
        width: 300px;
    }
}
@media all and (max-width: 650px){
    .search-result {
        grid-template-columns: auto;
    }
    .one-item-main {
        width: 450px;
    }
    .pic-one-item{
        width: 450px;
    }
}
@media all and (max-width: 450px){
    .search-result {
        grid-template-columns: auto;
    }
    .one-item-main {
        width: 350px;
    }
    .pic-one-item{
        width: 350px;
    }
}
@media all and (max-width: 350px){
    .search-result {
        grid-template-columns: auto;
    }
    .one-item-main {
        width: 300px;
    }
    .pic-one-item{
        width: 300px;
    }
}


.one-item-main {
    text-align: center;
    height: 400px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: black;
    border-radius: 15px;
}

.pic-one-item {
    border-radius: 15px;
    height: 200px;
    overflow: hidden;
}
.pic-one-item img {
    width: 100%;
    border-radius: 10px;
    background-size: cover;
}
.title-one-item {
    font-size: 22px;
    margin-top: 25px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
    border-radius: 15px;
}
.description-one-item {
    font-size: 15px;
    background-color: black;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    word-break: break-all;

}
.video-one-item {
    max-width: 100%;
}
/* UP */

#toTop {
    width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    display:none;
    color:#333;
    font-size:11px;
    z-index: 1000000;
}

/* MEDIA QUERIES */
@media all and (max-width: 759px) and (min-height: 450px){
    .central-main-div {
        padding-top: 20rem;
    }
}
@media all and (min-width: 760px) and (min-height: 450px){
    .central-main-div {
        padding-top: 22rem;
    }
}
@media all and (max-width: 900px) and (max-height: 450px) {
    .central-main-div {
        padding-top: 7rem;
    }
}
@media all and (min-width: 905px) {
.left-subheader-div img {
    height: 200px;
    opacity: 0.5;
}
    .links-menu a {
        padding-left: 3rem;
    }
    input {
        width: 55%;
    }
}
@media all and (min-width: 784px) and (max-width: 904px) {
    .left-subheader-div img {
        height: 180px;
        opacity: 0.5;
    }
    .links-menu a {
        padding-left: 1rem;
    }

    input {
        width: 70%;
    }
}
@media all and (min-width: 761px) and (max-width: 783px) {
    .left-subheader-div img {
        height: 160px;
        opacity: 0.5;
    }
    .links-menu a {
        padding-left: 1rem;
    }
    input {
        width: 80%;
    }
}
@media all and (min-width: 1000px) {
    .content-div-APOD {
        max-width: 70%;
    }
    .modal-APOD-main {
        top: 5rem;
    }
}
@media all and (max-width: 1000px) {
    .content-div-APOD {
        max-width: 95%;
    }
    .modal-APOD-main {
        top: 1rem;
    }
}
@media all and (max-width: 760px) {
    .left-subheader-div img {
        height: 160px;
        opacity: 0.5;
    }

    .central-main-div h1{
        font-size: 2rem;
    }
    .central-main-div p{
        font-size: 1.2rem;
    }
    input {
        width: 90%;
    }

    /*button {
        margin-top: 0.5rem;
    }*/
}

/*@media all and (min-width: 1317px) {
    .right-subheader-div {
        padding-left: 400px;
    }
    input {
        width: 45%;
    }

}
@media all and (min-width: 1200px) and (max-width: 1920px) {
    .right-subheader-div {
        padding-left: 200px;
    }
    input {
        width: 60%;
    }

}
@media all and (min-width: 960px) and (max-width: 1200px) {
    .right-subheader-div {
        padding-left: 50px;
    }
    input {
        width: 80%;
    }

}
@media all and (min-width: 375px) and (max-width: 962px) {
    #search-id {
        margin-top: 5px;
    }
    input {
        width: 90%;
    }

}
*/
/* MENU BURGER */
.menu-btn {
    margin-top: -2rem;
    width: 60px;
    height: 60px;
    position: relative;
    z-index:2;
    /*overflow: hidden;*/
    cursor: pointer;
}
.menu-btn span {
    width: 60px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
    top: calc(50% - 20px);
}
.menu-btn span:nth-of-type(3) {
    top: calc(50% + 20px);
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    padding-top: 2rem;
    /*padding: 5px;*/
    background: #030300;
    transform: translateY(-120%);
    transition: transform 0.5s;
    color: white;
    opacity: 0.9;
}
.menu.active {
    transform: translateY(0);
}
.menu li {
    list-style-type: none;
    padding-top: 0.8rem;
}
.menu-btn.active span:nth-of-type(1) {
    display: none;
}
.menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}